src/test/resources/javaweb/xml/sample.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<xs:schema xmlns:tns="http://ws.j2ee.test.xmu.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.j2ee.test.xmu.edu/">

	<xs:element name="add" type="tns:add"></xs:element>

	<xs:element name="addResponse" type="tns:addResponse"></xs:element>

	<xs:element name="subtract" type="tns:subtract"></xs:element>

	<xs:element name="subtractResponse" type="tns:subtractResponse"></xs:element>

	<xs:complexType name="add">
		<xs:sequence>
			<xs:element name="arg0" type="xs:int"></xs:element>
			<xs:element name="arg1" type="xs:int"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="addResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:int"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="subtract">
		<xs:sequence>
			<xs:element name="arg0" type="xs:int"></xs:element>
			<xs:element name="arg1" type="xs:int"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="subtractResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:int"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>